---
siteName: Chris Stein Portfolio
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{siteName}} | {{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  <link rel="stylesheet" href="/css/style.css">
  
  {% if cssfile %}
    <link rel="stylesheet" href="/css/{{ cssfile }}">
  {% endif %}
</head>
<body class="{{ pageClass }}">
  <header class="site-header">
        <!-- add site wide header content here -->
        <div class="logo">logo</div>

        {% include "nav.njk" %}
    </header> 

  <main id="main">
  {{ content | safe }}
  </main>

    <footer class="site-footer">
        <!-- add site-wide footer content here -->
        <div class="copyright">
          <p>&copy; {{ pkg.author }}</p>
        </div>
        <div class="social">
            <p><a class="me" href="#">Contact</a></p>
            <p><a class="me" href="#">Behance</a></p>
            <p><a class="me" href="#">Linked In</a></p>
            <p><a href="#">YouTube</a></p>
        </div>
    </footer>

</body>

</html>